<header>
  <h3 class="title">Bookers</h3>
  <p><%= link_to "Home", books_path %></p>
      
      
    </div>
  </nav>
  
  </nav>
  
  
</header>

<h1>welcome to Bookers!!</h1>
<h5>In Bookers</h5>
<p>you can share and exchange your opinions , inpressions , and emotions<br />
about various books!</p>